$lightbg: #0D0D0D;
$darkbg: #0B0B0B;
$box-shadow: 1px 0 20px rgb(0 0 0 / 8%);
$border-radius: 20px;


$btn-font-weight: 400 !default;
$btn-letter-spacing : 0 !default;

$font-family: 'ALS Gorizont 2.1';